<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

	<th:block layout:fragment="content">
	
		<div id="principal" class="container">

			<form id="addTrainning" action="add" method="POST" class="col s12" th:object="${trainningRequest}">
			
				<div class="page-header">
				  <h2>Treino<small th:text="' do dia ' + *{date}"></small></h2>
				</div>
			
				<th:block layout:replace="fragments/messages-form"/>
				<br/>
			
				<div class="row">
			        <div class="col s12 m6 l12">
			          <div class="card">
			            <div class="card-content">	             	
			
							<div class="row">
								<div class="input-field col s12">
								  <i class="material-icons prefix">directions_run</i>
								  <select id="trainningType" name="trainningType" th:field="*{type}" th:classappend="${#fields.hasErrors('type')} ? invalid">
								    <option value="" selected="true">Selecione o tipo de treinamento</option>
								    <option th:each="tt : ${trainningTypes}" 
								    		th:value="${tt.id}"
								    		th:text="${tt.name}"></option>
								  </select>
								  <label>Tipo de treinamento</label>
								</div>
							</div>
							
							<div class="row">			       
						       <div class="input-field col s12 m6 l6">
						          <i class="material-icons prefix">date_range</i>
						          <input id="scheduleStart" name="scheduleStart" type="text" 
						          	th:field="*{date}" th:classappend="${#fields.hasErrors('date')} ? invalid"
						          	readonly="readonly"/>
						          <label for="scheduleStart">Data do Treino</label>
						       </div>
							   <div class="input-field col s12 m6 l6">
								  <i class="material-icons prefix">refresh</i>
								  <input type="number" id="rounds" name="rounds" min="0" th:field="*{round}" th:classappend="${#fields.hasErrors('round')} ? invalid"/>					  
								  <label for="rounds">Rounds</label>
								</div>			       
						    </div>	
						    
							<div class="row">
							  <div class="input-field col s12">
							  	<i class="material-icons prefix">description</i>
							    <textarea id="textarea1" maxlength="100" class="materialize-textarea" th:field="*{description}"></textarea>
							    <label for="textarea1">Descrição do treino</label>
							  </div>
							</div>			    			
			
					    	<input type="hidden" id="movementId" name="movementId" th:field="*{movementId}"/>
					    	<input type="hidden" id="movementRepetition" name="movementRepetition" th:field="*{movementRepetition}"/>  										
			
							</div>
						</div>
					</div>
				</div>
			
			</form>
			
			<div class="row">
		        <div class="col s12 m6 l12">
		          <div class="card">
		            <div class="card-content">
		              	<span class="card-title">Exercícios</span>
				
						<div class="row">
							<div class="input-field col s12 m6 l6">
							  <i class="material-icons prefix">report</i>
							  <select id="movement" name="movement" class="invalid">
							    <option value="" selected="true">Selecione o exercício</option>
							    <option th:each="m : ${movements}" 
							    		th:value="${m.id}"
							    		th:text="${m.name}"></option>
							  </select>
							  <label for="movement">Exercício</label>
							</div>
						   <div class="input-field col s12 m6 l6">
							  <i class="material-icons prefix">refresh</i>
							  <input id="repetition" type="number" min="0"/>
							  <label for="number">Repetições</label>							  
							</div>					
							
						</div>	
						
						<table id="movementTable" class="centered">
							<thead>
  							   <tr>
							      <th>Exercício</th>
							      <th>Repetições</th>
							      <th>Remover</th>
						  		</tr>
							</thead>
							<tbody id="movementsTBody"></tbody>
						</table>
						
						<br/><br/>
						<div class="card-action right-align">
			              <a class="btn-floating btn-small waves-effect waves-light #ff9100 orange accent-4" onclick="addMovement()"><i class="material-icons">add</i></a>
			            </div>
				
		            </div>
		          </div>
		        </div>
		      </div>			
			
			<br/><br/><br/>
	
			<div class="fixed-action-btn horizontal">
			  <a class="btn-floating btn-large tooltipped tooltipped #ff9100 orange accent-4" data-position="top" data-delay="50" data-tooltip="Ações">
			    <i class="large material-icons">menu</i>
			  </a>
			  <ul>
			    <li><a class="btn-floating waves-effect waves-light tooltipped tooltipped #ff9100 orange accent-4" data-position="top" data-delay="50" data-tooltip="Voltar" href="/trainning"><i class="material-icons">skip_previous</i></a></li>
			    <li><a class="btn-floating waves-effect waves-light tooltipped tooltipped #ff9100 orange accent-4" data-position="top" data-delay="50" data-tooltip="Confirmar" href="#" onclick="submitForm();"><i class="material-icons">done</i></a></li>
			  </ul>
			</div>			

		</div>
		
		<!-- Notification Modal -->
		<div id="notificationDuplicateMovement" class="modal">
		  <div class="modal-content">
		    <h4>Exercício já informado</h4>
		    <p><h5>Esse exercício já foi inserido nesse treino.</h5></p>
		  </div>
		  <div class="modal-footer">
		    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
		  </div>
		</div>		
	
	</th:block>
</html>
<script>
function loadValues() {
	
	movementId = $('#movementId').val().split(',');
	movementRepetition = $('#movementRepetition').val().split(',');	
	sanitizeArrays();
	
	var index = 0;
	movementId.forEach(function(entry) {		    
	    $("#movement > option").each(function() {
	    	if(entry == this.value) {
	    		if(this.value != '') {
		    		var line = '<tr>';
		    		
		    		line += '<td>';
		    		line += this.text;
		    		line += '</td>';
		    		
		    		line += '<td>';
		    		line += movementRepetition[index];
		    		line += '</td>';	
		    		
		    		line += '<td onclick="removeMovement(this);">';
		    		line += '<i class="material-icons sf-link">delete</i>';
		    		line += '</td>';		
		    		
		    		line += '</tr>';
		    				    		
		    		$('#movementsTBody').append(line);		
	    		}
	    		
	    		index++;
	    	}		        
	    });
	    
	});
		
}

function addMovement() {	
	if(!movementAlreadExists(movementId, $('#movement').val())) {	
		var selectedIndex = $('#movement option:selected').val()
		
		if(selectedIndex == 0) {
			return;
		} 
		
		var line = '<tr>';
		
		line += '<td>';
		line += $('#movement option:selected').text();
		line += '</td>';
		
		line += '<td>';
		line += $('#repetition').val() == "" ? "0" : $('#repetition').val();
		line += '</td>';	
		
		line += '<td onclick="removeMovement(this);">';
		line += '<i class="material-icons sf-link">delete</i>';
		line += '</td>';		
		
		line += '</tr>';
		
		movementId.push($('#movement').val());
		movementRepetition.push($('#repetition').val() == "" ? "0" : $('#repetition').val());
		
		$('#movementsTBody').append(line);
		
		$("#movement").prop('selectedIndex', 0);
		$('#movement').material_select();
		$('#repetition').val('');		
	}
}
function movementAlreadExists(movements, movement) {
	var toReturn = false;
	movements.forEach(function(entry) {
		if(entry == movement) {
			toReturn = true;
			$("#movement").prop('selectedIndex', 0);
			$('#movement').material_select();
			$('#repetition').val('');
			$('#notificationDuplicateMovement').modal('open');
		}
	});
	return toReturn;
}
function removeMovement(obj) {
	var indexLine = $(obj).closest('tr').index();	
	movementId.splice(indexLine, 1);
	movementRepetition.splice(indexLine, 1);	
	$(obj).closest('tr').remove();
}
function submitForm() {
	sanitizeArrays();
	
	$('#movementId').val(movementId);
	$('#movementRepetition').val(movementRepetition);
	$('#addTrainning').submit();
}
function sanitizeArrays() {
	if(movementId.length > 1) {
		if(movementId[0] == '') {
			movementId.splice(0,1);
			movementRepetition.splice(0,1);
		}
	}
}

loadValues();
</script>
