<head xmlns:th="http://www.thymeleaf.org">
	
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	
	<title>SuperaFit Admin</title>
	
	<link rel="stylesheet" th:href="@{/css/superafit.css}"/>
	
	<!-- <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"  /> -->
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/materialize/css/materialize.min.css}"  />

</head>