<div class="hide-on-large-only">
	<nav>
	   <div class="nav-wrapper #ff9100 orange accent-2">
	     
     	 <a href="#!" class="brand-logo">
     		<img src="../images/logo_transparente.png" width="90px" height="90px" />
     	 </a>
	     
	     <a href="#" data-activates="menu-mobile" class="button-collapse">
	     	<i class="material-icons">menu</i>
	     </a>
	     <ul class="side-nav" id="menu-mobile">
	       <li><a href="/trainning">Treino</a></li>
	       <li><a href="/schedule">Horários</a></li>
	       <li><a href="/principal">Comunicados</a></li>
	     </ul>
	   </div>
	</nav>
</div>

 <div class="navbar-fixed hide-on-med-and-down">
	<nav>
	   <div class="nav-wrapper #ff9100 orange accent-2">
     	 <a href="#!" class="brand-logo">
     		<img src="../images/logo_transparente.png" width="130px" height="130px" />
     	 </a>
	     <ul class="right hide-on-med-and-down">
	       <li><a href="/trainning">Treino</a></li>
	       <li><a href="/schedule">Horários</a></li>
	       <li><a href="/principal">Comunicados</a></li>
	     </ul>
	   </div>
	</nav>
</div>