<!-- Mobile -->
<div class="hide-on-large-only" 
	xmlns:th="http://www.thymeleaf.org">
	<nav>
	   <div class="nav-wrapper #ff9100 orange accent-2">
	     
     	 <a href="#!" class="brand-logo">
     		<img th:src="@{images/logo_transparente.png}" width="90px" height="90px" />
     	 </a>
	     
	     <a href="#" data-activates="menu-mobile" class="button-collapse">
	     	<i class="material-icons">menu</i>
	     </a>
	     <ul class="side-nav" id="menu-mobile">
	       <li><a th:href="@{/trainning}">Treino</a></li>
	       <li><a th:href="@{/schedule}">Horários</a></li>
	       <!-- <li><a href="/principal">Comunicados</a></li> -->
	       <li>
	       		<a class="dropdown-button" href="#!" data-activates="itensCadastroMobile">
		       		Cadastros
		       		<i class="material-icons right">arrow_drop_down</i>
		       	</a>
		   </li>	       
	       <li><a th:href="@{/logoff}">Sair</a></li>
	     </ul>
	   </div>
	</nav>
</div>
<!-- Dropdown Structure -->
<ul id="itensCadastroMobile" class="dropdown-content">
  <li><a th:href="@{/exercice}">Exercícios</a></li>
</ul>

<!-- Web -->
<div class="navbar-fixed hide-on-med-and-down">
	<nav>
	   <div class="nav-wrapper #ff9100 orange accent-2">
     	 <a href="#!" class="brand-logo">
     		<img th:src="@{/images/logo_transparente.png}" width="130px" height="130px" />
     	 </a>
	     <ul class="right hide-on-med-and-down">
	       <li><a th:href="@{/trainning}">Treino</a></li>
	       <li><a th:href="@{/schedule}">Horários</a></li>
	       <!-- <li><a href="/principal">Comunicados</a></li> -->
	       <li>
	       		<a class="dropdown-button" href="#!" data-activates="itensCadastro">
		       		Cadastros
		       		<i class="material-icons right">arrow_drop_down</i>
		       	</a>
		   </li>
	       <li><a th:href="@{/logoff}">Sair</a></li>
	     </ul>
	   </div>
	</nav>
</div>
<!-- Dropdown Structure -->
<ul id="itensCadastro" class="dropdown-content">
  <li><a th:href="@{/exercice}">Exercícios</a></li>
</ul>