<div lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <th:block layout:replace="fragments/messages"/>
            		   
   	<div id="validationErrors" class="sf-alert sf-alert-danger z-depth-1" th:if="${#fields.hasAnyErrors()}">
		<ul th:each="detailedError : ${#fields.detailedErrors()}">
			<li>
				<span><i class="material-icons prefix">error</i></span>
				<span th:text="${detailedError.message}"></span>
			</li>
		</ul>
	</div>	
					   
</div> 