<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

	<th:block layout:fragment="content">
	
		<div id="principal" class="container">
	
			<div class="page-header">
			  <h2>Horários<small> da semana</small></h2>
			</div>	

			<form id="addSchedule" action="add" method="POST" class="col s12" th:object="${schedule}">
			
				<br/>
				<th:block layout:replace="fragments/messages-form"/>
				<br/>
			
				<div class="row">
					<div class="input-field col s12" th:classappend="${#fields.hasErrors('weekDay')} ? invalid">
					  <i class="material-icons prefix">subtitles</i>
					  <select id="weekDay" name="weekDay" th:field="*{weekDay}" class="invalid">
					    <option value="" disabled="true" selected="true">Selecione o dia da semana</option>
					    <option th:each="weekDay : ${weekDays}" 
					    		th:value="${weekDay.index}"
					    		th:text="${weekDay.description}"></option>
					  </select>
					  <label>Dia da semana</label>
					</div>
				</div>			
						
				<div class="row">			       
			       <div class="input-field col s12 m6 l6">
			          <i class="material-icons prefix">query_builder</i>
			          <input id="scheduleStart" name="scheduleStart" type="text" class="timepicker" th:field="*{scheduleStart}" th:classappend="${#fields.hasErrors('scheduleStart')} ? invalid"/>
			          <label for="scheduleStart">Hora Início</label>
			       </div>
			       
			       <div class="input-field col s12 m6 l6">
			       	  <i class="material-icons prefix">query_builder</i>
			          <input id="scheduleEnd" name="scheduleEnd" type="text" class="timepicker" th:field="*{scheduleEnd}" th:classappend="${#fields.hasErrors('scheduleEnd')} ? invalid"/>
			          <label for="scheduleEnd">Hora Fim</label>
			       </div>
			     </div>
			     
			</form>
	
			<br/><br/><br/>
	
			<div class="fixed-action-btn horizontal">
			  <a class="btn-floating btn-large tooltipped tooltipped #ff9100 orange accent-4" data-position="top" data-delay="50" data-tooltip="Ações">
			    <i class="large material-icons">menu</i>
			  </a>
			  <ul>
			    <li><a class="btn-floating waves-effect waves-light tooltipped tooltipped #ff9100 orange accent-4" data-position="top" data-delay="50" data-tooltip="Voltar" href="/schedule"><i class="material-icons">skip_previous</i></a></li>
			    <li><a class="btn-floating waves-effect waves-light tooltipped tooltipped #ff9100 orange accent-4" data-position="top" data-delay="50" data-tooltip="Confirmar" href="#" onclick="document.forms[0].submit();"><i class="material-icons">done</i></a></li>
			  </ul>
			</div>
		
		</div>
	
	</th:block>


</html>	
<script>
$(document).ready(function() {
	$('select').material_select();
	
	$('.timepicker').pickatime({
		default: 'now', // Set default time
		fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
		twelvehour: false, // Use AM/PM or 24-hour format
		donetext: 'OK', // text for done-button
		cleartext: 'Limpar', // text for clear-button
		canceltext: 'Cancelar', // Text for cancel-button
		autoclose: false, // automatic close timepicker
		ampmclickable: true, // make AM PM clickable,
		aftershow: function(){}, //Function for after opening timepicker
	});
});
</script>