<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

	<th:block layout:fragment="content">	
	
		<div id="principal" class="container">

			<div class="page-header">
			  <h2>Horários<small> da semana</small></h2>
			</div>

			<th:block layout:replace="fragments/messages"/>

			<div th:if="${list != null}">
				<div th:each="item : ${list.schedules}">
					<br/>
					<div class="chip">
					  <i class="material-icons prefix">subtitles</i>
					  <span th:text="${item.weekDay}">
					  </span>
					</div>				
	
					<table class="bordered highlight centered">
						<thead>
						  <tr>
						      <th>Início</th>
						      <th>Término</th>
						      <th>Ações</th>
						  </tr>
						</thead>					
						<tbody>
						  <tr th:each="daySchedule : ${item.daySchedules}">
						    <td> 
						        <i class="material-icons prefix">query_builder</i>
						    	<span th:text="${daySchedule.scheduleStart}"></span> 
						    </td>
						    <td>
						    	<i class="material-icons prefix">query_builder</i> 
						    	<span th:text="${daySchedule.scheduleEnd}"></span> 
						    </td>
						    <td> 
						    	<i class="material-icons sf-link">mode_edit</i>
						    	<i class="material-icons sf-link"  
						    	th:onclick="'javascript:remover(\'' + ${item.indexWeekDay} + '\,' + ${daySchedule.scheduleStart} + '\' );'">delete</i>
						    </td>
						    
						  </tr>
						</tbody>
					</table>			
				</div>
			</div>
			
		</div>
		
		<div class="fixed-action-btn horizontal">
		  <a class="btn-floating btn-large tooltipped #ff9100 orange accent-4" data-position="top" data-delay="50" data-tooltip="Ações">
		    <i class="large material-icons">menu</i>
		  </a>
		  <ul>
		    <li><a class="btn-floating tooltipped waves-effect waves-light tooltipped #ff9100 orange accent-4" data-position="top" data-delay="50" data-tooltip="Publicar horário"><i class="material-icons">phonelink_ring</i></a></li>
		    <li><a class="btn-floating tooltipped waves-effect waves-light tooltipped #ff9100 orange accent-4" data-position="top" data-delay="50" data-tooltip="Atualizar" href="schedule"><i class="material-icons">replay</i></a></li>
		    <li><a class="btn-floating tooltipped waves-effect waves-light tooltipped #ff9100 orange accent-4" data-position="top" data-delay="50" data-tooltip="Adicionar" href="schedule/add"><i class="material-icons">add</i></a></li>
		  </ul>
		</div>
		
		<form id="formDelete" action="schedule/delete" method="POST" th:object="${schedule}">
			<input type="hidden" id="weekDay" name="weekDay"/>
			<input type="hidden" id="scheduleStart" name="scheduleStart"/>
		</form>
	
		<!-- Modal Structure -->
		<div id="modal1" class="modal">
		  <div class="modal-content">
		    <h4>Remover horário</h4>
		    <p><h5>Deseja realmente remover o horário selecionado?</h5></p>
		  </div>
		  <div class="modal-footer">
		    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Não</a>
		    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="confirmaRemover()">Sim</a>
		  </div>
		</div>		
		
	</th:block>
</html>
<script>
function remover(args) {
	var valores = args.split(',')
	$('#weekDay').val(valores[0]);
	$('#scheduleStart').val(valores[1]);
	$('#modal1').modal('open');
}
function confirmaRemover() {
	$('#formDelete').submit();
}
</script>