<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

	<th:block layout:fragment="content">
	
		<div id="principal">
			
			<div class="row">
			
			   <form id="formValidate" class="col s12" action="principal" method="POST" th:object="${pessoa}">
			   
			    <br/>
			    <div>
					<div class="alert alert-success" th:text="${mensagem}" 
						th:if="${not #strings.isEmpty(mensagem)}">
					</div>		   
				   
				   	<div id="erros" class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
						<ul th:each="detailedError : ${#fields.detailedErrors()}">
							<li th:text="${detailedError.message}"></li>
						</ul>
					</div>
				</div> 
			   
			     <div class="row">			       
			       <div class="input-field col s12 m6 l6">
			         <input id="firstName" type="text" class="validate" th:field="*{firstName}" th:classappend="${#fields.hasErrors('firstName')} ? invalid"/>
			         <label for="firstName">First Name</label>
			       </div>
			       
			       <div class="input-field col s12 m6 l6">
			         <input id="lastName" type="text" class="validate" th:field="*{lastName}" th:classappend="${#fields.hasErrors('lastName')} ? invalid"/>
			         <label for="firstName">Last Name</label>
			       </div>			       
			     </div>
			     
			   </form>
			</div>
			
		</div>	
		
		<div class="fixed-action-btn horizontal">
		  <a class="btn-floating btn-large red">
		    <i class="large material-icons">menu</i>
		  </a>
		  <ul>
		    <li><a class="btn-floating red" href="principal"><i class="material-icons">add</i></a></li>
		    <li><a class="btn-floating red" href="#" onclick="document.forms[0].submit()"><i class="material-icons">done</i></a></li>
		  </ul>
		</div>		
		
	</th:block>

</html>