<div class="hide-on-large-only">
	<nav>
	   <div class="nav-wrapper #ff9100 orange accent-2">
	     
     	 <a href="#!" class="brand-logo">
     		<img th:src="@{images/logo_transparente.png}" width="90px" height="90px" />
     	 </a>

	   </div>
	</nav>
</div>

 <div class="navbar-fixed hide-on-med-and-down">
	<nav>
	   <div class="nav-wrapper #ff9100 orange accent-2">
     	 <a href="#!" class="brand-logo">
     		<img th:src="@{images/logo_transparente.png}" width="130px" height="130px" />
     	 </a>
	   </div>
	</nav>
</div>